---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/Nav.astro';
import HeroB2B from '../components/HeroB2B.astro';
import Problem from '../components/Problem.astro';
import HowItWorks from '../components/HowItWorks.astro';
import AIClients from '../components/AIClients.astro';
import PowerUsers from '../components/PowerUsers.astro';
import Enterprise from '../components/Enterprise.astro';
import ComingSoon from '../components/ComingSoon.astro';
import TechPrivacy from '../components/TechPrivacy.astro';
import VerifyYourself from '../components/VerifyYourself.astro';
import Newsletter from '../components/Newsletter.astro';
import AiDemo from '../components/AiDemo.astro';
import Screenshots from '../components/Screenshots.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
  <Nav />
  <main>
    <HeroB2B />
    <Problem />
    <HowItWorks />
    <AIClients />
    <PowerUsers />
    <Enterprise />
    <ComingSoon />
    <TechPrivacy />
    <VerifyYourself />
    <Newsletter />
    <AiDemo />
    <Screenshots />
  </main>
  <Footer />
</Layout>
