---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/Nav.astro';
import Hero from '../components/Hero.astro';
import Problem from '../components/Problem.astro';
import HowItWorks from '../components/HowItWorks.astro';
import AIClients from '../components/AIClients.astro';
import PowerUsers from '../components/PowerUsers.astro';
import Enterprise from '../components/Enterprise.astro';
import ComingSoon from '../components/ComingSoon.astro';
import TechPrivacy from '../components/TechPrivacy.astro';
import Newsletter from '../components/Newsletter.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
  <Nav />
  <main>
    <Hero />
    <Problem />
    <HowItWorks />
    <AIClients />
    <PowerUsers />
    <Enterprise />
    <ComingSoon />
    <TechPrivacy />
    <Newsletter />
  </main>
  <Footer />
</Layout>
